<% include ../fragments/header.ejs %>
  <div class="container main-content">
    <h2>HomeBridge Configuration</h2>
    <p>Please note you must have <a href="https://homebridge.io/">HomeBridge</a> installed and running, and have installed the <a href="https://github.com/NorthernMan54/homebridge-alexa">homebridge-alexa</a> plugin. To setup this service, please follow the instructions <a href="https://github.com/NorthernMan54/homebridge-alexa">here</a></p>

    <h2>Questions and Bugs</h2>
    <p>If you just have a general question then probably best to try and find me (NorthernMan54) on the homebridge Discord instance</a> in
    the #hap-alexa channel.</p>
    <p>If you have a bug with the service please raise an issue on github <a href="https://github.com/NorthernMan54/homebridge-alexa/issues">here</a></p>

    <h2>Privacy Policy</h2>
    <p>No information held by this sevice will be shared with 3rd parties, with the exception of the oAuth
    tokens required to link with Amazon's Alexa service.</p>


  </div
<% include ../fragments/footer.ejs %>
