<% include ../fragments/header.ejs %>
  <div class="container main-content">
    <img align="left" height="75" width="75" src="/images/HOMEBRIDGE 108.jpg" />
    <h1>Homebridge Smart Home Skill Registration Site</h1>
    <p>Please note that in order to use the Homebridge Amazon Alexa Smart Home Skill you must have <a href="https://homebridge.io/">HomeBridge</a> installed, and have installed and configured the <a href="https://github.com/NorthernMan54/homebridge-alexa">homebridge-alexa</a> plugin. To setup this service, please follow the instructions <a href="https://github.com/NorthernMan54/homebridge-alexa">here</a></p>
    <p>This HomeSkill allows you to control your HomeBridge enabled devices via Amazon Alexa. Supported devices are Lights, Outlets, Switches, Temperature Sensors, Window Coverings and Fans. To setup this service, please follow the instructions <a href="https://github.com/NorthernMan54/homebridge-alexa">here</a></p>

    <b>Voice commands supported</b>

    <p>* Alexa discover devices</p>
    <p>* Alexa, turn on _______</p>
    <p>* Alexa, turn off _______</p>
    <p>* Alexa, set ______ to 50</p>
    <p>* Alexa, what is the temperature in the ______</p>

  </div <% include ../fragments/footer.ejs %>
