<% include ../fragments/header.ejs %>
  <div class="container main-content">
    <h1>Homebridge Alexa HomeSkill Landing Page</h1>
    <p>This site is the registration point for home skill linking between Amazon Alexa and homebridge-alexa.</p>

    <p>This HomeSkill allows you to control your HomeBridge enabled devices via Amazon Alexa.  Supported devices are Lights, Outlets, Switches, Temperature Sensors, Window Coverings and Fans.

    To setup this service, please follow the instructions <a href="https://github.com/NorthernMan54/homebridge-alexa">here</a></p>

    <p>At this time, this service is in <b>Beta</b> and access to the HomeBridge Alexa Home Skill is not generally available.  In order to get added to the Beta, I need to add you to the list of Beta participants at Amazon, and will need you to send me your Amazon ID.  Please send me a direct message via the Slack for Homebridge with your Amazon login to be enrolled.</p>

<b>Voice commands supported</b>

<p>* Alexa discover devices</p>
<p>* Alexa, turn on _______</p>
<p>* Alexa, turn off _______</p>
<p>* Alexa, set ______ to 50</p>
<p>* Alexa, what is the temperature in the ______</p>
    <img style="margin-right: auto; margin-left: auto; display: block;" src="/images/homekitapp.jpg"/>
  </div
<% include ../fragments/footer.ejs %>
