<% include ../fragments/header.ejs %>
  <div class="container main-content">
    <h1>Homebridge Alexa HomeSkill Landing Page</h1>
    <p>This site is the registration point for using the homebridge-alexa registration module.</p>

    <p>This HomeSkill allows you to control your HomeBridge enabled devices via Amazon Alexa.  Supported devices are Lights, Outlets, Switches and Fans.

    To setup this service, please follow the instructions <a href="https://github.com/NorthernMan54/homebridge-alexa">here</a></p>

    <p>At this time, this service is in Beta and access to the HomeBridge Alexa Home Skill is not generally available.  In order to get added to the Beta, I need to add you to the list of Beta participants at Amazon, and will need you to send me your Amazon ID.  To send this to me, please use slack and send me a direct message.</p>

    <img style="margin-right: auto; margin-left: auto; display: block;" src="/images/homekitapp.jpg"/>
  </div
<% include ../fragments/footer.ejs %>
