<%- include('../fragments/header.ejs') %>
  <div class="container main-content">
    <h2>Please note</h2>
    <p>Please note you must have <a href="https://homebridge.io/">HomeBridge</a> installed and running, and have installed the <a href="https://github.com/NorthernMan54/homebridge-alexa">homebridge-alexa</a> plugin. To setup this service, please follow the instructions <a href="https://github.com/NorthernMan54/homebridge-alexa">here</a></p>
    <% if (message) { %>
      <p><strong><%= message %></strong></p>
    <% } %>
    <div id="login">
      <form method="POST" action="/login">
        <label style="width: 75px" for="username">Username:</label>
        <input type="text" id="username" name="username"/>
        <br>
        <label style="width: 75px" for="password">Password:</label>
        <input type="password" id="password" name="password"/>
        <br>
        <input type="submit" value="Login">
      </form>
    </div>
  </div>
<%- include('../fragments/footer.ejs') %>
